body{
    font-family: Georgia, 'Times New Roman', Times, serif;/*设置网页字体样式*/
    margin:0px 0px 0px 0px;
    width:auto;
}
div.allcontent{
    width:1400px;
    background-image:url(images/2.jpeg);/*设置网页的背景图片*/
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
/*页眉区*/
header{
    background-image:url(images/headerback.png);/*放入自制的logo背景图片*/
    margin:0px;
    height:50px;/*设置主内容区大小为60px*/
    padding:20px 0px 15px 20px;/*优化布局*/
}
/*导航区*/
nav{
    background-color: rgb(33, 77, 123);/*设置导航区的背景颜色，深蓝色，与logo适配*/
    font-size: 20px;/*字体大小调整为20px*/
    height:50px;/*导航区的高度设置为50px*/
    padding-left:300px;/*为了保证有背景颜色又与页面边界保持一定距离，将内边距设为300px*/
}
nav ul{
    list-style-type:none;/*去除小圆点*/
    margin:0px;/*将默认的margin改为0*/
    padding:0px;/*消除默认效果*/
    padding-top: 15px;/*实现垂直居中*/
}
nav ul li{
    padding:10px 80px 8px 80px;/*调整导航区每个选项的内边距，优化布局*/
    display:inline;/*使选项由竖排烈转为横排列*/
}
li:hover{
    background-color: rgb(48, 99, 154);/*当鼠标移到相应选项时变色*/
}
li.selected{
    background-color: rgb(48, 99, 154);/*使明显看出当前页面归属哪一个选项，与其他选项区分开来*/
}
a{
    text-decoration: none;
    color:whitesmoke;/*去除下划线效果，修改字体颜色为白色*/
}

/*内容区*/
div.flex-container{
    display:flex;/*设置弹性，可伸缩*/
    flex-direction:row;/*水平排列*/
    flex-wrap:nowrap;/*不换行*/
}
div.flex-column1{
    width:1000px;
    height:500px;
    margin:auto;
}
div.flex-column2{
    width:300px;
    margin:40px 20px 20px 0px;
    border:5px solid rgb(48, 99, 120);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 12px 40px 0 rgba(0, 0, 0, 0.5);
}
div#photo{
    height:225px;
}
div#text{
    background-color:rgb(48, 99, 154);
    width:300px;
    color:white
}
table{
    margin:auto;
    border-spacing: 10px;;
}
td{
    height:30px;
    width:40px;
    font-size:15px;/*调整表格单元格的高度和宽度*/
    text-align: left;
}
th{
    height:30px;
    width:80px;
    font-size:15px;/*调整表格单元格的高度和宽度*/
    text-align: right;

}
footer{
    background-color:rgb(33, 77, 123);/*适配导航区颜色*/
    color:rgb(188, 181, 181);/*修改字体颜色为浅色*/
    height:40px;/*同设置页脚高度*/
    padding: 10px;;/*使页脚内容垂直居中*/
    text-align:center;/*使页脚内容水平居中*/
    font-size:8px;/*设置字体大小为10px*/
    margin:0px 0px 0px 0px;
}